body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Gochi Hand', cursive;
    overflow-x: hidden;
}

section {
    margin: 50px auto;
}

#about{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    .about-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 5vw;
            margin: 0;
            text-align: center;
            padding: 0 0 20px;
            font-weight: 100;
        }
        h3{
            font-family: Open Sans,sans-serif;
            font-size: 1.5vw;
            font-weight: 100;
            text-align: center;
            opacity: .7;
            padding-bottom: 20px;
            letter-spacing: 0.2vw;
        }

        p{
            text-align: center;
            font-family: Open Sans,sans-serif;
            width: 400px;
            line-height: 2;
            padding-bottom: 40px;
        }

        a{
            padding: 20px 30px;
            border: 2px solid #000;
            font-family: Open Sans,sans-serif;
            text-align: center;
            border-radius: 3rem;
            margin: 0 auto;
            color: #000;
            text-decoration: none;
            align-content: center;

        }
        .btn{
            color: #000;
            &:hover{
                box-shadow: 0 0.5rem 1rem rgba(0,0,0,.3);
                color: #ff494a;
                transform: translateY(-0.2rem);
                transition: transform 0.2s ease-out;
            }
        }
    }
}

#form-section{
    background-color: #ff494a;
    background: #ff494a;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .form-container{
        justify-content: center;
        width: 50vw;
        display: flex;
        flex-direction: row;
        background: whitesmoke;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1);
        border-radius: 2rem;
        padding: 50px 0;
        .form-left{
            align-self: center;
        }
        .form{
            h1{
                font-size: 3vw;
                text-align: center;
            }
            form{
                border: none;
                input{
                    border: .1rem solid rgba(0,0,0,.1);
                }
                .input-btn{
                    background: #000;
                    border-radius: 3rem;
                    color: #ff494a;
                    font-size: 1rem;
                    cursor: pointer;
                    padding: 15px 0;
                    &:hover{
                        background: #ff494a;
                        color: #000;
                    }
                }

            }
        }
    }
}
#result-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    .result-container{
        justify-content: space-evenly;
        width: 60vw;
        display: flex;
        flex-direction: row;
        background: whitesmoke;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1);
        border-radius: 2rem;
        padding: 50px 0;
        .result-left{
            margin:  0 50px;
            align-self: center;
            width: 13rem;
            height: 13rem;
            #destination-img{
                border-radius: 50%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .result-right{
            line-height: 1.4;
            .result-underline{
                border-bottom: 3px solid #ff494a;
            }
            h2{
                padding-bottom:20px ;
                font-size:2.5vw ;
            }
            .result-btn-container{
                text-align: center;
                #delete-btn{
                    background: #ff494a;
                    color: #fff;
                    font-size: 1rem;
                    cursor: pointer;
                    padding: 8px 80px;
                    text-decoration: none;
                    border-radius: 3rem;
                    font-family: Open Sans,sans-serif;
                    font-weight: 300;
                    letter-spacing: 1.5px;
    
                }
            }

        }
    }
}

.hidden{
    display: none !important;
}
.active-result{
    display: block !important;
}

// Media Queries

// Small screens 
@media  (min-width: 320px) and (max-width: 480px) { 
    header{
        .logo{
            font-size: 6rem;
        }
        .nav-links{
            font-size: 4rem;
        }
    }
    #about {
        .about-wrapper{
            h1 {
                font-size: 15vw;
            }
            h3{
                font-size: 4.5vw;
            }
            p{
                width: 600px;
                font-size: 3vw;
            }
        } 
    }
    #form-section {
        .form-container{
            width: 80vw;
            height: 50vh;
            .form{
                h1{
                    font-size: 7vw;
                    padding-bottom: 40px;
                }
                input{
                    line-height: 3;
                    margin-bottom: 45px;
                    font-size: 2rem;
                }
                label{
                    font-size: 4vw;
                }
                .input-btn{
                    padding: 0px 0;
                }
            }
        }
    }
    #result-section{
        .result-container{
            flex-direction: column;
            height: 70vh;
            width: 80vw;
            .result-right{
                justify-self: center;
                padding-top: 80px;
                text-align: center;
                h2{
                    font-size: 5.5vw;
                }
                .result-btn-container{
                    margin-top: 10px;
                    #delete-btn{
                        padding: 10px 100px;
                        font-size: 2.5vw;
                    }
                }
            }
        }
    }

 }

//Tablets
@media (min-width: 481px) and (max-width: 1024px) { 
    #about {
        .about-wrapper{
            h1 {
                font-size: 12vw;
            }
            h3{
                font-size: 4.5vw;
            }
            p{
                font-size: 2vw;
            }
        } 
    }
    #form-section {
        .form-container{
            width: 80vw;
            h1{
                font-size: 6vw;
            }
            input{
                font-size: 3vw;
                line-height: 50px;
            }
            label{
                font-size: 4vw;
            }
            
        }
    }
    #result-section {
        .result-container{
            flex-direction: column;
            width: 80vw;
            .result-left{
                margin: 0 50px;
                align-self: center;
                width: 20rem;
                height: 20rem;
            }
            .result-right{
                justify-self: center;
                padding-top: 30px;
                text-align: center;
                h2{
                    font-size: 4.5vw;
                }
                .result-btn-container{
                    margin-top: 10px;
                    #delete-btn{
                        padding: 8px 80px;
                        font-size: 2.5vw
                    }
                }
            }
        }
    }
}  

// Large screens
@media (min-width: 1025px) { 
    #about {
        .about-wrapper{
            h1 {
                font-size: 5vw;
            }
        } 
    }
    #form-section {
        .form-container{
            width: 50vw;
        }
     }
     #result-section{
        .result-container{
            flex-direction: row;
     }
    }
}